In [ ]:
print(2+1)

3

In [ ]:
print ("こんにちは")

こんにちは

In [ ]:
print('今日はいい天気ですね')

今日はいい天気ですね

In [ ]:
print(100)
print(200)

100
200

In [ ]:
print(-1000)

-1000

In [ ]:
print(0.01)

0.01

In [ ]:
print(True)
print(False)

True
False

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [ ]:
print(45 + 18)
print(30 -12)
print(15 * 6)
print(30 /3 )
print(45 % 8)

63
18
90
10.0
5

In [ ]:
print(type(30 / 3))

<class 'float'>

In [ ]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print(type(45 + 1.8))
print(type(3 - 1.2))

<class 'float'>
<class 'float'>

In [ ]:
print("今日の天気は"+"晴れ")
print("今日の天気は""曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率"+str(50)+"%")

降水確率50%

In [ ]:
print("晴れ"*5)
print("晴れ"+"晴れ"+"晴れ"+"晴れ"+"晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [ ]:
user_name="侍太郎"
print(user_name)

user_name="侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
#　青洲方と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

#文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"
#３つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
user_names = ["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]
#3番目の要素を更新する
user_names[2]="侍花子"

In [ ]:
user_names=["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]
print(user_names[1]) #2番目の要素だけを表示
user_names[1] ="侍花子" #2番目の要素を更新
print(user_names)
user_names.append("侍五郎")#6番目の要素を追加
print(user_names)
user_names.pop(2)#3番目の要素を削除（0始まりのため2を指定）
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_names = ("日本","アメリカ","イギリス","フランス")
#3番目の要素である「イギリス」という文字列だけを取り出す
print(country_names[2])
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
country_names = ("日本","アメリカ","イギリス","フランス")
country_names[2]="ドイツ"

TypeError: 'tuple' object does not support item assignment

In [ ]:
country_names={"アメリカ","イギリス","日本","フランス"}
#セット全体を表示
print(country_names)

{'イギリス', '日本', 'フランス', 'アメリカ'}

In [ ]:
prime_numbers={2,5,2,7,3,5,5} #1～10までに含まれる素数のセット（2か5が重複）
print(prime_numbers)

{2, 3, 5, 7}

In [5]:
#公式：台形の面積 =（上辺＋下辺）× 高さ ÷ 2

top = 10
bottom = 20
height = 5
trapezoid_area = (top + bottom) * height /2
print (str(area) +"cm2")

50.0cm2